.green {
    background-color: green;
}
.container {
    background: blue;
}
.background {
    background-color: green;
    display: flex;
    height: 100vh;
    width: 100%;
}
.title {
    font-size: 75px;
    color: black;
    text-align: center;
    width: 100%;
    padding-left: 2%;
}
.subtitle {
    font-size: 40px;
    color: black;
    text-align: center;
    width: 100%;
    padding-left: 2%;
}
.commentBox {
    height: 10%;
    width: 60%;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 3%;
    margin: 5%;
}
.comments {
    display: flex;
    width: 100%;
}